/*  Page styles  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 16px/1.4 Arial, Helvetica, sans-serif;
}

.skrollr-desktop body {
    height:100% !important;
}

#skrollr-body {
    height:100%;
    position:relative;
    overflow: hidden;
}


/*  Styles for this example */


.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;

    height:80vh;
    top:-80vh;
}


.parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    height:100vh;
    top:0;
}


.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}



.gap {
    background:transparent center no-repeat;
    background-size:cover;
    height:80vh;
}

.skrollr .gap {
    background:transparent !important;
}


/*  End of scrollr styles   */

.htmleaf-header h1 {
    padding-top: 100px;
    text-align: center;
    color: white;
}
.web-case img {
    width: 100%;
    height: 222px;
}





.body-text{
    padding: 140px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    text-align: center;
}

.body-text h2{
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 80px;
}

.body-text p{
    width: 28%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    color: #45636B;
}


@media (max-width: 900px){

    .body-text p{
        width: 100%;
    }

}


.website{
    padding: 150px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    min-height: 100vh;
    text-align: center;
}

.website h2{
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: normal;
}
.website h5 {
    margin-bottom: 60px;
    color: red;
}

.website div{
    display: inline-block;
    width: 30%;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 45px;
    box-shadow: 1px 1px 1px #ccc, 0 0 30px #eee inset;
}

.website div i{
    font-size: 150px;
    margin-bottom: 40px;
    color: #50B575;
}

.website div h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #425F67;
    font-weight: normal;
}


@media (max-width: 900px){

    .website div{
        width: 90%;
        margin-bottom: 30px;
    }

}




.wx-mini{
    padding: 150px 0;
    background-color: #fff;
    min-height: 120vh;
    text-align: center;
    color: #25373C;
    font-size: 18px;
}

.wx-mini h2{
    font-size: 42px;
    margin-bottom: 80px;
    font-weight: normal;
}

.wx-mini div{
    text-align: center;
    width: 25%;
    margin: 30px 10px;
    display: inline-block;
}


.wx-mini div img{
    border-radius: 50%;
    width: 60%;
}

.wx-mini a.attribution{
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    width: 280px;
    margin: 50px auto 10px;
    opacity: 0.5;
}


@media (max-width: 800px){

    .wx-mini div{
        width: 45%;
        margin: 20px 0;
    }

}


/*Gallery*/


.gallery{
    color: #221f51;
    font: normal 24px sans-serif;
    min-height: 10vh;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(white, #EEF6F9);
}

.scroll-pause{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background: transparent;
}


.scroll-pause .row{
    width: 200vw;
    height: 30vh;
    overflow: hidden;
}

.scroll-pause .row div{
    width: 11.5%;
    height: 90%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0.5%;
    border-radius: 10px;
}

.scroll-pause .row div:first-child{
    margin-left: 0.4%;
}

.scroll-pause .row div:last-child{
    margin-right: 0.4%;
}


.introduce {
    max-width: 800px;
    margin: 0 auto;
}
.introduce h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 2;
}
.introduce ol {
    list-style: 1;
    margin-top: 40px;
}
.introduce ol li {
    font-size: 1.2rem;
    line-height: 2;
 
}